body {
    margin: auto 0;
    width: 100%;
}

header {
    height: 120px;
    background-color: chocolate;
}

nav {
    height: 60px;
    background-color: coral;
}

#logo {
    height: 100%;
}

.container {
    height: 730px;
    background-color: olive;
}

.app-div-right img {
    height: 600px;
}

.item-img img {
    height: 150px;
}