html {
    height: 100%;
}

:root {
  --red-color: rgb(252, 69, 71);
  --green-color: rgb(9, 50, 54);
  --light-green-color: rgb(184, 218, 194);
  --grey-color: rgb(206, 201, 193);
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: var(--grey-color);
    background-color: var(--green-color);
}

header {
    position: sticky;
    top: 0;
    background-color: rgb(11, 75, 91);
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 30px;
}

.header-right > * {
  margin: 0 70px;
}

.header-right button {
    text-align: center;
}

#logo {
    height: 120px;
    filter: brightness(0) invert(1);
}

main {
  padding: 30px;
}

.container-rezerwacje {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.slogan {
  display: flex;
  align-items: center;
  background: url("img/centrum.jpeg") no-repeat center center scroll;
  height: 560px;
  width: 100%;
}

.slogan h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 64px;
  color: var(--red-color);
}

.app {
  display: flex;
  padding-top: 50px;
}

.app-div-right img {
    height: 400px;
}

.app-download {
  width: 30%;
}

.item {
  display: block;
  float: left;
  padding: 10px;
}

/* @media screen and (max-width: 987px) {
  .item {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
} */

.item h2 {
  text-align: center;
  color: var(--light-green-color);
}

.item-img img {
    height: 150px;
}

.footer-container {
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

#logo-small {
    height: 90px;
    filter: brightness(0) invert(1);
}

.icons {
  font-size: 20px;
  color: var(--grey-color);
}

.ri-facebook-circle-fill {
  padding-right: 5px;
}

footer h3 {
  color: var(--light-green-color);
  margin: 0 0 10px 0;
}

#adres p {
  margin: 0 0 5px 0;
}

#contact p {
  margin: 5px 0;
}

/* 

.menu-wrap {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
  }
  
  .menu-wrap .toggler {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
  }
  
  .menu-wrap .hamburger {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 30px;
    height: 30px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  } */
  
  /* Hamburger Line */
  /* .menu-wrap .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  } */
  
  /* Hamburger Lines - Top & Bottom */
  /* .menu-wrap .hamburger > div::before,
  .menu-wrap .hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
  } */
  
  /* Moves Line Down */
  /* .menu-wrap .hamburger > div::after {
    top: 10px;
  } */
  
  /* Toggler Animation */
  /* .menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
  } */
  
  /* Turns Lines Into X */
  /* .menu-wrap .toggler:checked + .hamburger > div:before,
  .menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  } */
  
  /* Rotate On Hover When Checked */
  /* .menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
  } */
  
  /* Show Menu */
  /* .menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
  }
  
  .menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
  }
  
  .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition:  opacity 0.4s ease 0.4s;
  }
  
  .menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menu-wrap .menu > div {
    background: var(--overlay-color);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
  }
  
  .menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
  }
  
  .menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
  }
  
  .menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
  } */